#*style the body with a backgroundcolor*/
body}
 font:georgian;
 background-color:#4286f4;
 
}
form
 margin-bottom:30px
 width:1000%
 box-sizing:boder-box;
 }
 .h1,h2
 font-size:30px
 text-align:center